yandex-map{
  display: block;
  width: 500px;
  height: 500px;
}

app-yandex-map{
  display: block;
}

#map{
  float: left;
}

#listOfPlaces{
  float: left;
  border: red;
  border-radius: 5px;
  padding: 5px;
  overflow: scroll;
  overflow-x:hidden;
  height: 400px;
}


.elementOfPlace{
  margin: 2px;
}

.searchResBtn{
  background-color: RoyalBlue;
  color: aliceblue;
  cursor: pointer;
  border: none;
  margin-left: 4px;
  border-radius: 7px;
  height: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 2px;
  /*float: right;*/
  /*text-: 50%;*/
  /*text-align: center;*/
  /*height: 20px;*/
}

.searchResBtn:hover{
  background-color: darkorchid;
}

.uniButton{
  border-width: 1px;
  border-color: darkcyan;
  border-radius: 2px;
  background-color: aliceblue;
  color: black;
  width: 400px;
  text-align: center;

  overflow: scroll;
  float: left;
}

.check{
  float: left;
}

.uniButton:hover{
  background-color: deepskyblue;
  color: aliceblue;
  cursor: pointer;
}

.boldText{
  font-weight: bold;
}

.smallText{
  font-weight: lighter;
  font-size: small;
}

#checkbox{
  display: none;
}
#checkbox + label{
  display: block;
  width: 30px;
  height: 30px;
  background: #ccc;
  border: 1px solid #555;
  text-align: center;
}
#checkbox + label:before{
  content: '✔';
  font-size: 20px;
}
#checkbox:checked + label{
  border: 1px solid;
  border-color: fuchsia;
  border-radius: 2px;
}
#checkbox:checked + label:before{
  color: fuchsia;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://www.google.com/s2/favicons?domain=www.pandoge.com');
  background-size: cover;
}
