<head>


</head>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Choosing places</span>
  </mat-toolbar-row>
</mat-toolbar>

<body>
  <div class="container">

    We are searching {{toSearch$}} <br>

    <div style="width: 100px;">
      <select (change)="onChangeSelect($event)">
        <ng-container *ngFor="let searchElement of toSearch$; let i = index;">
          <option class="optionChild" [value]="searchElement">
            {{searchElement}}
          </option>
        </ng-container>
        <option class="optionChild" *ngIf="toSearch$.length > 1" selected> <!-- -->
          <ng-container *ngFor="let el of toSearch$">
            {{el}}
          </ng-container>
        </option>
      </select>

    </div>

    <div class="map_and_res" style="overflow: hidden;"> <!-- -->
      <div style="width: 1000%;">

        <div id="map" style="width: 600px; height: 400px">

        </div>

        <div style="overflow: scroll; overflow-x: hidden; height: 400px;" id="listOfPlaces">
          <ng-container *ngFor="let place of places; let i = index;">
            <mat-card class="example-card" >
              <mat-card-header>
                <div mat-card-avatar class="example-header-image" [style.backgroundImage]="'url('+ favicons[i] +')'"></div> <!--style="background-image: url({{favicons[i]}} )" -->
                <mat-card-title>{{place['properties']['CompanyMetaData']['name']}}</mat-card-title>
              </mat-card-header>
              <mat-card-content >
                <p>
                    <b>Address:</b> {{place['properties']['description']}}
                </p>
                <p>
                  <a [href]="place['properties']['CompanyMetaData']['url']">{{place['properties']['CompanyMetaData']['url']}} </a>
                </p>
                <p *ngIf="placeHours[i]">
                  <b>Hours:</b> {{placeHours[i]}}
                </p>

              </mat-card-content>

              <mat-checkbox [(ngModel)]="arrayOfChosenPlaces[i]" value="{{place}}" (change)="checkboxChange($event, place, i)">
                Add
              </mat-checkbox>

            </mat-card>
          </ng-container>
        </div>

      </div>

    </div>

    <!--<div id="searchService">-->
      <!--<p>Type new interest:</p>-->
      <!--<input type="text" [(ngModel)]="toSearch$" />-->
      <!--<button (click)="doSearchByRest()">SEARCH HERE!</button>-->
    <!--</div >-->



    <div class="forAcceptButton" style="text-align: center; margin-top: 50px;">
      <button mat-raised-button color="primary"
        (click)="acceptPlace()">Accept the places
      </button>
    </div>

    <!--<button (click)="doSearchOnMap()"> Do some search</button>-->



  </div>
</body>

