<header><div class="container"> <h1>Your Meetings  </h1></div></header>


<app-new-toolbar></app-new-toolbar>


  <div class="container">

    <div class="profBar">
      <div style="text-align: center">
        {{userService.currentUser().name}}
      </div>
      <div>
        <img id="avatar" src="../../assets/images/noavatar.png" alt="Avatar Here">
      </div>
      <div>
        <button class="main uniButton" (click)="goToProfile()">To Profile</button>
      </div>
      <div>
        <button class="main uniButton" (click)="logOut()">Log Out</button>
      </div>

    </div>

    <div>
      <button class="addBtn" (click)="createMeeting()">
        <!--Create new meetings-->
        <fa-icon [icon]="faGlassCheers" size="2x" [fixedWidth]="true"></fa-icon>
        new
      </button>
    </div>

    <!--<p>Current meetings: </p>-->
    <div class="meeting" *ngFor="let meet of ownInterests;let i = index;">
      <div style="border: 2px green solid; float: left">
        <div id="firstDivInFlex" style="border: 3px solid black; width: 300px; float: left;">
              <p style=" font-family: 'Comic Sans MS'">{{meet.meeting.name}} {{meet.meeting.id}}</p>
              <mat-divider></mat-divider>

              <p>{{meet.place}} </p>
              <p>{{meet.address}}</p>
              <p>{{meet.friends}}</p>
              <div>
                <p>Companions: </p>
                <div class="companions" > <!--further to do CLICK (click)="" -->
                  <div class="friend" *ngFor="let friend of friendsInterests[meet.meeting.id];"> <!-- (click)="showInterests(meet.id, friend.id)"-->
                    <ng-container *ngIf="friend.person.name != userService.currentUser().name"> <!-- friend.meeting.id == meet.meeting.id && -->
                      <mat-expansion-panel style="color: ghostwhite; background-color: blueviolet">
                        <mat-expansion-panel-header>
                          <p>{{friend.person.email}} ({{friend.person.name}})</p>
                        </mat-expansion-panel-header>
                        <mat-panel-description style="color: #cccccc">Interests</mat-panel-description>
                        <div *ngFor="let frInterest of friend.interests" class="popUp">
                          <p>{{frInterest.name}} of <b>{{frInterest.category}}</b></p> <!--nbsp;&nbsp;&nbsp;&nbsp;-->
                        </div>
                      </mat-expansion-panel>
                    </ng-container>
                  </div>
                </div>
                <p>My interests: </p>
                <div class="interests">
                  <!--<ng-container *ngIf="meet.meeting.id == meet.meeting.id">-->
                    <div *ngFor="let interest of meet.interests;">  <!-- curUserInterests-->
                      <p>{{interest.name}} of <b>{{interest.category}}</b></p> <!-- of {{interest.category}}-->
                    </div>
                  <!--</ng-container>-->
                </div>
              </div>
        </div>

        <!-- Places to Vote-->
        <div id="secondDivInFlex" style="border: 3px solid blue; width: 350px; float: left;">

              <ng-container *ngIf="placesToVote[meet.meeting.id] != undefined && (meet.didVote == false)">
                <p>Vote here</p>
                <mat-divider style="margin-top: 19px;"></mat-divider>
                <div style="overflow: scroll; overflow-x: hidden; height: 400px;width: 300px; margin: 5px;" id="listOfPlaces">
                  <ng-container *ngFor="let place of placesToVote[meet.meeting.id]; let i = index;">
                    <mat-card class="example-card" style="background-color: #f2f3f4;">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image" [style.backgroundImage]="'url('+ faviconsFromGoogle[meet.meeting.id][i] +')'"></div> <!--style="background-image: url({{favicons[i]}} )" -->
                        <mat-card-title>{{place.name}}</mat-card-title>
                      </mat-card-header>
                      <mat-card-content>
                        <p>
                          <b>Address:</b> {{place.address}}
                        </p>
                        <p>
                          <a [href]="place.url">{{place.url}} </a>
                        </p>
                        <p>
                          <b>Hours:</b> {{place.hours}}
                        </p>
                      </mat-card-content>
                      <mat-slider thumbLabel tickInterval="1" min="1" max="5" (change)="onSliderChanged($event, i, meet.meeting.id)">

                      </mat-slider>
                      {{votesForMeetings[meet.meeting.id][i]}}
                      <fa-icon [icon]="faStar" size="2x" [fixedWidth]="true" style="color: gold"></fa-icon>
                    </mat-card>
                  </ng-container>

                </div>
                <div style="text-align: center; margin-top: 5px">
                  <button mat-raised-button color="accent" (click)="voteForExactMeeting(meet.meeting.id)">
                    VOTE
                  </button>
                </div>
              </ng-container>
              <ng-containter *ngIf="meet.didVote == true && finishVotingPlace[meet.meeting.id] == undefined">
                Waiting for other companions voting...
              </ng-containter>

              <ng-container *ngIf="meet.didChoose == true && meet.didVote == false && placesToVote[meet.meeting.id] == undefined">
                Waiting for other companions choosing places to vote...
              </ng-container>

              <ng-container *ngIf="finishVotingPlace[meet.meeting.id]">
                <p>We are going to this place!</p>
                <mat-card>
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image" [style.backgroundImage]="'url('+ faviconsFinish[meet.meeting.id] +')'"></div> <!--style="background-image: url({{favicons[i]}} )" -->
                  <mat-card-title>{{finishVotingPlace[meet.meeting.id].name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <b>Address:</b> {{finishVotingPlace[meet.meeting.id].address}}
                  </p>
                  <p>
                    <a [href]="finishVotingPlace[meet.meeting.id].url">{{finishVotingPlace[meet.meeting.id].url}} </a>
                  </p>
                  <p>
                    <b>Hours:</b> {{finishVotingPlace[meet.meeting.id].hours}}
                  </p>
                </mat-card-content>
                </mat-card>
                <div style="text-align: center; margin-top: 5px;">
                  <button mat-raised-button color="warn" (click)="endOfMeeting(meet.meeting.id)" >
                    Accept
                  </button>
                </div>
              </ng-container>
        </div>


      </div>

      <div>
          <div >
            <ng-container *ngIf="meet.didChoose == false">
              <button class="addBtn" (click)="toSearch(meet.meeting.id)">
                <fa-icon [icon]="faMapMarkedAlt" size="2x" [fixedWidth]="true"></fa-icon>

              </button>
            </ng-container>
          </div>



          <div id="btnInterests">
            <ng-container *ngIf="meet.didChoose == false">
              <button class="hobbiesButton" (click)="goToExactMeeting(meet.meeting.id)">
                <!--Go to these meeting!-->
                <fa-icon [icon]="faEdit" size="sm" [fixedWidth]="true"></fa-icon>
                Edit Hobbies
              </button>
            </ng-container>
          </div>

      </div>
    </div>


  </div>
