.profBar{
  text-align: right;
  float: right;
}

#avatar{
  width: 100px;
  height: 100px;
}

.main{
  width: 100px;
}


.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}

h1{
  text-align: center;
  margin-bottom: 70px;
}

.someButton{
  background-color: darkturquoise;
  color: aliceblue;
  cursor: pointer;
  border: none;
  margin-left: 2px;
  border-radius: 2px;
}

.someButton:hover{
  background-color: deepskyblue;
  /*color: ;*/
}

.uniButton{
   border-width: 1px;
   border-color: darkcyan;
   border-radius: 2px;
   background-color: aliceblue;
   color: black;
 }

.uniButton:hover{
  background-color: deepskyblue;
  color: aliceblue;
  cursor: pointer;
}



.hobbiesButton{
  background-color: MediumSlateBlue;
  color: aliceblue;
  cursor: pointer;
  border: none;
  margin-left: 4px;
  border-radius: 2px;
  height: 20px;
  /*float: right;*/
  /*padding-bottom: 2px;*/
  /*bott*/
}

.hobbiesButton:hover{
  background-color: Blue;
  /*color: ;*/
}

.addBtn{
  background-color: DarkViolet;
  color: aliceblue;
  cursor: pointer;
  border: none;
  margin-left: 4px;
  border-radius: 7px;
  height: 40px;
  margin-top: 2px;
  margin-bottom: 2px;
  /*float: right;*/
  /*text-: 50%;*/
  /*text-align: center;*/
  /*height: 20px;*/
}

.addBtn:hover{
  background-color: MediumOrchid;
}

.meeting{
  padding: 5px;
  border: 2px solid red;
  background-color: LavenderBlush;
  float: left;
  /*float: top;*/
  width: 800px;
  border-radius: 5px;
  margin: 5px;
  /*text-align: left;*/
  /*float: right;*/
}

#btnInterests{
  /*float: top;*/
}

.mainMeeting{

  /*float: lef sst;*/
}


.companions{
  background-color: LightSteelBlue;
  border: 2px solid red;
  border-radius: 5px;
  width: 200px;
  padding: 3px;
}

friend{
  /*width: ;*/
  /*padding: 3px;*/
  /*margin: 0px;*/
}

.friend:hover{
  cursor: pointer;
  background-color: RoyalBlue;
  border-radius: 3px;
  color: aliceblue;
}

.interests{
  background-color: #bb96ff;
  border: 2px solid red;
  border-radius: 5px;
  width: 200px;
  padding: 3px;
}

.popUp{
  /*display: none;*/
}

/*fa-icon{*/
  /*border-right: 1px solid Silver;*/
  /**/
  /*padding-right: 2px;*/
/*}*/


/*Test*/
