<header><div class="container"> <h1>Admin Panel </h1></div></header>

<div class="container">
  <div *ngFor="let p of people; let i = index;" >
    <ng-template #editablPerson>
      <div>Name: </div> <br/>
      <div>
        {{name}}
      </div>
      <div>Email: </div> <br/>
      <div>
        <input type="text" [(ngModel)]="email" />
      </div>
      <div>Phone: </div> <br/>
      <div>
        <input type="text" [(ngModel)]="phone" />
      </div>
      <div>Role: </div> <br/>
      <div>
        <select [(ngModel)]="role">
          <option>User</option>
          <option>Admin</option>
        </select>
      </div>

      <button (click)="approve(p)">Approve</button>
    </ng-template>
    <div *ngIf="!(i == editableNumber); else editablPerson">
      <div>Name: </div> <br/>
      <div>
        {{p.name}}
      </div>
      <div>Email: </div> <br/>
      <div>
        {{p.email}}
      </div>
      <div>Phone: </div> <br/>
      <div>
        {{p.phone}}
      </div>
      <div>Role: </div> <br/>
      <div>
        {{p.role}}
      </div>
      <button (click)="edit(i,p)" >Edit</button>
      <button (click)="delete(p,i)" >Delete</button>
    </div>
  </div>
  <div>
    <button (click)="setIsCreatable(true)">Create new user</button>
  </div>
  <div *ngIf="isCreatable">
    <input type="text" placeholder="name" [(ngModel)]="newName"/>
    <input type="text" placeholder="password" [(ngModel)]="newPassword"/>
    <input type="text" placeholder="email" [(ngModel)]="newEmail"/>
    <input type="text" placeholder="phone" [(ngModel)]="newPhone"/>
    <select [(ngModel)]="newRole">
      <option>User</option>
      <option>Admin</option>
    </select>
    <button (click)="create()">Create</button>
  </div>

  <div>
    <button (click)="goToProfile()">My profile</button>
  </div>
</div>


