.profBar{
  text-align: right;
  float: right;
}

#avatar{
  width: 100px;
  height: 100px;
}

.main{
  width: 100px;
}


.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}

#go_meetings{
  margin-top: 200px;
  text-align: center;
}

h1{
  text-align: center;
  margin-bottom: 50px;
}

.someButton{
  background-color: darkturquoise;
  color: aliceblue;
  cursor: pointer;
  border: none;
  margin-left: 2px;
  border-radius: 2px;
}

.someButton:hover{
  background-color: deepskyblue;
  /*color: ;*/
}

.uniButton{
  border-width: 1px;
  border-color: darkcyan;
  border-radius: 2px;
  background-color: aliceblue;
  color: black;
}

.uniButton:hover{
  background-color: deepskyblue;
  color: aliceblue;
  cursor: pointer;
}

.addBtn{
  background-color: DarkViolet;
  color: aliceblue;
  cursor: pointer;
  border: none;
  margin-left: 4px;
  border-radius: 7px;
  height: 40px;
  /*float: right;*/
  /*text-: 50%;*/
  /*text-align: center;*/
  /*height: 20px;*/
}

.addBtn:hover{
  background-color: MediumOrchid;
}

#addingFriends{
  margin-top: 10px;
}

/*Test*/
