<header><div class="container"> <h1>Creating new meeting  </h1></div></header>
<div class="container">
  <h2>Add companions to create new meeting</h2>

  <div class="profBar">
    <div style="text-align: center">
      {{userService.currentUser().name}}
    </div>
    <div>
      <img id="avatar" src="../../assets/images/noavatar.png" alt="Avatar Here">
    </div>
    <div>
      <button class="main uniButton" (click)="goToProfile()">To Profile</button>
    </div>
    <div>
      <button class="main uniButton" (click)="logOut()">Log Out</button>
    </div>

  </div>

  <button class="addBtn" (click)="setIsAdding()">
    <!--Add Companion-->
    <fa-icon [icon]="faUserFriends" size="2x" [fixedWidth]="true"></fa-icon>
  </button>

  <div *ngIf="isAdding" id="addingFriends">
    <input type="text" placeholder="Type companion's email" [(ngModel)]="searchEmail" />
    <button class="someButton" (click)="addNewCompanion()">
      <fa-icon [icon]="faPlus" size="sm" [fixedWidth]="true"></fa-icon>
    </button>
  </div>



  <p>Your friends in meeting:</p>
  <div *ngFor="let comp of companions; let i = index;">
     {{i+1}}-й компаньон: {{comp}} <b *ngIf="isRegistered[i] != ''"> [{{(isRegistered[i])}}]</b>
    <button class="someButton" (click)="deleteCompanion(i)"><fa-icon [icon]="faMinus" size="sm" [fixedWidth]="true"></fa-icon></button>
  </div>

  <mat-progress-bar style="margin-top: 20px;" *ngIf="progressAdd" mode="indeterminate"></mat-progress-bar>




  <div id="go_meetings">
    <button class="main uniButton" (click)="goToMeetings()">Accept</button>
  </div>





</div>
