<header><div class="container"> <h1>Registration</h1></div></header>

<app-new-toolbar></app-new-toolbar>


<div class="container">
  <div class="content">

    <div class="example-container">
      <mat-form-field hintLabel="Max 10 characters">
          <input matInput #input type="text" maxlength="10" [(ngModel)]="name" placeholder="Enter name" required/>
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field>
          <input [formControl]="emailControl" matInput type="text" [(ngModel)]="email" placeholder="Enter email" required/>
          <mat-error *ngIf="emailControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
          <input #pass1 [type]="hide ? 'password' : 'text'" maxlength="20" matInput type="password" [(ngModel)]="passwords"  placeholder="Password" required/> <!-- pPassword-->
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <!--<mat-hint align="end">{{pass1.value?.length || 0}}/20</mat-hint>-->
      </mat-form-field>
      <mat-form-field >
          <input #pass2 [type]="hide ? 'password' : 'text'" maxlength="20" matInput type="password" [(ngModel)]="userPasswordProve" placeholder="Confirm password" required/> <!-- pPassword-->
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <!--<mat-hint align="end">{{pass2.value?.length || 0}}/20</mat-hint>-->
      </mat-form-field>
      <mat-form-field>
          <input matInput #phoneField type="text" maxlength="10" [(ngModel)]="phone" placeholder="Your phone (optional)"/> <!--Убрал required -->
          <mat-hint align="end">{{phoneField.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div>

    <button style="margin-top: 10px;" mat-raised-button color="primary" (click)="register()" type="button" label="Registration" >
      Register me</button>

    <mat-progress-bar style="margin-top: 20px;" *ngIf="progress" mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="navigate">
    <button mat-raised-button class="main" (click)="goToAuth()">Auth</button>
  </div>

  <div class="navigate">
    <button mat-raised-button class="main" (click)="goToMain()">Main page</button>
  </div>
</div>


<!--<div >{{ registrationError }}</div>-->
