@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.content {
  margin: 5%;
  padding-top: 1.5%;
  padding-bottom: 3%;
  /*margin: 20px;*/
  min-height: 500px;
  text-align: center;
}

h1{
  text-align: center;
}

.main{
  width: 100px;

}

.btn{
  margin-top: 10%;
  width: 100px;
}

.navigate{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}

/*Test*/

