<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
</head>
<header><div class="container"> <h1>Meeting {{idOfMeeting$}}</h1></div></header>

<body>
  <div class="container">
    <div class="profBar">
      <div style="text-align: center">
        {{userService.currentUser().name}}
      </div>
      <div>
        <img id="avatar" src="../../assets/images/noavatar.png" alt="Avatar Here">
      </div>
      <div>
        <button class="main uniButton" (click)="goToProfile()">To Profile</button>
      </div>
      <div>
        <button class="main uniButton" (click)="logOut()">Log Out</button>
      </div>

    </div>

    <div>
      <p><b>Interests:</b></p>
    </div>


    <div>
      <!--<div>-->
      <form [formGroup]="myForm">
        <select formControlName="FirstForm" class="mySelect" (change)="onChangeSelect($event, i)">
          <ng-container *ngFor="let el of interestsFromDB">
            <option *ngIf="el.name == el.category && el.name == 'Food'" class="optionGroup" [value]="el.id">
              {{el.name}}
            </option>
                <option *ngIf="el.category == 'Food' && el.name != el.category" class="optionChild" [value]="el.id">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{el.name}}
                </option>

            <option *ngIf="el.name == el.category && el.name == 'Culture'" class="optionGroup" [value]="el.id">
              {{el.name}}
            </option>
            <option *ngIf="el.category == 'Culture'&& el.name != el.category" class="optionChild"  [value]="el.id">
              &nbsp;&nbsp;&nbsp;&nbsp;{{el.name}}
            </option>

            <option *ngIf="el.name == el.category && el.name == 'Dance'" class="optionGroup" [value]="el.id">
              {{el.name}}
            </option>
                <option *ngIf="el.category == 'Dance'&& el.name != el.category" class="optionChild"  [value]="el.id">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{el.name}}
                </option>

            <option *ngIf="el.name == el.category && el.name == 'Music'" class="optionGroup" [value]="el.id">
              {{el.name}}
            </option>
                <option *ngIf="el.category == 'Music'&& el.name != el.category" class="optionChild"  [value]="el.id">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{el.name}}
                </option>

            <option *ngIf="el.name == el.category && el.name == 'Activities'" class="optionGroup" [value]="el.id">
              {{el.name}}
            </option>
                <option *ngIf="el.category == 'Activities'&& el.name != el.category" class="optionChild"  [value]="el.id">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{el.name}}
                </option>

            <option *ngIf="el.name == el.category && el.name == 'Sports'" class="optionGroup" [value]="el.id">
              {{el.name}}
            </option>
                <option *ngIf="el.category == 'Sports'&& el.name != el.category" class="optionChild"  [value]="el.id">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{el.name}}
                </option>

            <option *ngIf="el.name == el.category && el.name == 'Games'" class="optionGroup" [value]="el.id">
              {{el.name}}
            </option>
                <option *ngIf="el.category == 'Games'&& el.name != el.category" class="optionChild"  [value]="el.id">
                  &nbsp;&nbsp;&nbsp;&nbsp;{{el.name}}
                </option>
          </ng-container>
        </select>
        <button class="someButton" (click)="addNewHobby()">
          <fa-icon [icon]="faPlus" size="sm" [fixedWidth]="true"></fa-icon>
        </button>
      </form>

    </div>

    <div id="Interests" *ngFor="let hobby of myInterests;let i = index;">
      <li>{{hobby.name}} <button (click)="deleteHobby(i)" class="someButton"><fa-icon [icon]="faMinus" size="sm" [fixedWidth]="true"></fa-icon></button></li>
    </div>


    <div id="accept">
      <button class="main uniButton" (click)="goToMap()">Accept</button>
    </div>


  </div>

</body>
