.profBar{
  text-align: right;
  float: right;
}

#avatar{
  width: 100px;
  height: 100px;
}

.main{
  width: 100px;
}


.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}

h1{
  text-align: center;
  margin-bottom: 70px;
}

#accept{
  margin-top: 200px;
  text-align: center;
}

#Interests{
  margin-top: 15px;
}

.someButton{
  background-color: darkturquoise;
  color: aliceblue;
  cursor: pointer;
  border: none;
  margin-left: 2px;
  border-radius: 2px;
}

.someButton:hover{
  background-color: deepskyblue;
  /*color: ;*/
}

.uniButton{
  border-width: 1px;
  border-color: darkcyan;
  border-radius: 2px;
  background-color: aliceblue;
  color: black;
}

.uniButton:hover{
  background-color: deepskyblue;
  color: aliceblue;
  cursor: pointer;
}

.optionGroup {
  font-weight: bold;
  font-style: italic;
}

.optionChild {
  padding-left: 5px;
}

.mySelect{
  width: 200px;
}

/*body*/
/*{*/
  /*background-image: url("../../assets/images/bright-blue-ringo.png");*/
/*}*/


/*Test*/
