<header><div class="container"> <h1>Welcome to DateSearcher  </h1></div></header>


<app-new-toolbar></app-new-toolbar>

<div class="container">


    <div id="authorise">
      <button mat-raised-button class="main" (click)="goToAuth()">Auth</button>
    </div>

    <div id="register">
      <button mat-raised-button class="main" (click)="goToRegistration()">Registration</button>
    </div>

    <div style="text-align: center;margin-top: 25px;">
      <fa-icon [icon]="faUsers" size="10x" [fixedWidth]="true" style="color: indigo"></fa-icon>
    </div>

</div>


<footer>DateSearcher 2019</footer>
