.logIn{
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  margin-bottom: 20%;
  /*margin-top: 20%;*/
  width: 6em;
  text-align: center;
}

.main{
  width: 100px;
}


#authorise{
  margin-bottom: 2%;
}

#authorise{
  margin-top: 200px;
  cursor: pointer;
  text-align: center;
    /*align-content: center;*/
}

#register{
  cursor: pointer;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}

/*Test*/


h1{
  text-align: center;
  /*margin-bottom: 200px;*/
}

footer{
  text-align: center;
  margin-top: 300px;
}

#google_img{
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-top: 100px;
}
