<header><div class="container"> <h1>Authorization</h1></div></header>

<app-new-toolbar></app-new-toolbar>


<div class="container">
  <div class="content">
        <div class="example-container">
          <mat-form-field class="auth" >
              <input matInput type="text" placeholder="Login or email" [(ngModel)]="userLogin" required>
          </mat-form-field>
          <mat-form-field class="auth">
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" [(ngModel)]="userPassword" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>

    <button style="margin-top: 10px;" (click)="auth()" mat-raised-button color="primary">
      Log in
    </button>
    <p class="error">{{error}}</p>
  </div>

  <div class="navigate">
    <button class="main" mat-raised-button (click)="goToRegister()">
      Registration</button>
  </div>

  <div class="navigate">
    <button class="main" mat-raised-button (click)="goToMain()">
      Main page
    </button>
  </div>
</div>





