@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.content {
  margin: 5%;
  padding-top: 1.5%;
  padding-bottom: 3%;
  /*margin: 20px;*/
  min-height: 400px;
  text-align: center;
}

.navigate{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}

h1{
  text-align: center;
}

.main{
  width: 100px;

}

.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}

/*.example-container > * {*/
  /*width: 50%;*/
/*}*/

/*.example-right-align {*/
  /*text-align: right;*/
/*}*/

/*input.example-right-align::-webkit-outer-spin-button,*/
/*input.example-right-align::-webkit-inner-spin-button {*/
  /*display: none;*/
/*}*/

/*input.example-right-align {*/
  /*-moz-appearance: textfield;*/
/*}*/

/*.auth{*/
  /*text-align: center;*/
/*}*/

/*Test*/
