<div>
  Hello, {{currentUser}}
  <!--Admin Root == {{isAdmin}}-->
</div>
<div *ngIf="isAdmin">
  Your role == Administrator
</div>
<div *ngIf="!isAdmin">
  Your role == User
</div>

<div *ngIf="isAdmin">
  <button (click)="goToAdminPanel()">Admin Panel</button>
</div>
  <div>
    <button (click)="logOut()">
      Log Out
    </button>
  </div>
