<mat-toolbar color="primary">
  <mat-toolbar-row>

    <fa-icon [icon]="faFire" size="2x" [fixedWidth]="true"></fa-icon>
    <fa-icon [icon]="faHollyBerry" size="2x" [fixedWidth]="true" ></fa-icon>
    <fa-icon [icon]="faWalking" size="2x" [fixedWidth]="true" ></fa-icon>

  </mat-toolbar-row>
</mat-toolbar>
