/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/
body {  font-family: Roboto, "Helvetica Neue", sans-serif; } /*margin: 0;*/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}

.navigate{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 10px;
}

.example-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
